@import 'tailwindcss';

@font-face {
  font-family: 'Gontserrat';
  src: url('src/assets/fonts/Gontserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Gontserrat: 'Gontserrat', sans-serif;
}
