@import 'tailwindcss';

@theme {
  --font-Gontserrat: 'Gontserrat', sans-serif;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('fonts/Gontserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('fonts/Gontserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('fonts/Gontserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('fonts/Gontserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('fonts/Gontserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
